@import "tailwindcss";



.glass-card {
  background-color: rgba(255, 255, 255, 0.1); /* Latar belakang transparan */
  backdrop-filter: blur(10px); /* Efek buram */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Border transparan */
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), /* Bayangan vertikal */
              0 8px 10px -6px rgba(0, 0, 0, 0.1); /* Bayangan horizontal */
}

body {
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'DS-Digital';
  src: url('/fonts/DS-DIGIT.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.digital-font {
  font-family: 'DS-Digital', monospace;
}


.bg-finance {
  background-image: url('/backgrounds/bg-current-finance.png');
  background-size: cover;
  background-position: top;
}

[data-state="checked"]::before,
[data-radix-ui="radio-item"]::before {
  display: none !important;
  content: none !important;
}